h1 {
  margin: auto;
  width: 50%;
  min-width: 700px;
  text-align: center;
  padding-bottom: 30px;
}

form {
  margin:auto;
  width: 50%;
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding: 30px 0;

  input{
    width: 300px;
  }
}


.mini {
  margin:auto;
  width: 50%;
  min-width: 700px;
  background-color: lightgray;
  text-align: center;
  padding: 50px 0;
}

.top{
  margin: auto;
  width: 75%;
  min-width: 700px;
  text-align: center;

  li{
    display: flex;
    justify-content: space-between;

  }

  span{
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;

  }
}
